body {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

#head {
  background-image:
  url("../images/the-flatiron-building.png");
}

a {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
  font weight: bold;
}

p {
  font-size: 14px;
}

#separator {
  font-size: 23 px;
  font-weight: bold;
  color: white;
  background-image:
  url("../images/the-flatiron-building.png");
}

#down {
  background-color: dimgray;
  font-size: 11px;
  color: white;
}
