@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700');

html, body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1366px;
    min-height: 100%;
}

.header {
    background-image: url(img/slider-img.jpg);
    height: 800px;
    overflow: hidden;
}

.logo {
    margin-top: 75px;
    margin-left: 98px;
    clear: both
}

.menu {
    float: right;
    margin-top: 67px;
    margin-right: 211px;
}

.menu ul {
    list-style-type: none;
    text-decoration: none;
}


.menu li a {
    text-decoration: none;
    color:  #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 48px;
    display: block;
    padding: 0 10px;
}

.menu li a:hover {
    color:  #212121;
    border-bottom: 3px solid black;
    font-weight: bold;
    padding: 0 8.5px;
    font-size: 14px;
}


.menu li {
    float: left;
}

.menu ul li a img {
    padding-top: 13px;
}

.menu ul li a.showroom:hover{
    margin-left: 1px;
}

.menu ul li a.prod-menu:hover {
    margin-left: 1px;
}

.menu ul li a.hist:hover {
    margin-left: 0.5px;
}

.menu .search-bottom:hover {
    border-bottom: none;
    padding: 0 10px;
}

.text-slider {
    width: 490px;
    margin-top: 288px;
    margin-left: 98px;
}

.text-slider h3 {
    color:  #43a047;
    font-size: 18px;
    text-align: left;
    margin-bottom: 15.2px;
}

.text-slider h1 {
    color:  #212121;
    font-size: 62px;
    font-weight: 100;
    margin-bottom: 27.2px;
}

.text-slider p {
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    margin-bottom: 32px;
}

.btm-order {
    display: block;
    width: 212px;
    height: 45px;
    text-decoration: none;
    color:  #212121;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    background-color:  #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    border-radius: 22.5px;
    line-height: 45px;
}

.btm-order:hover {
    background: url(img/arrow.png);
    background-repeat: no-repeat;
    background-position: 173px;
    background-color:  #ffffff;
}

.btm-order:active {
    box-shadow: none;
}

.navi-img {
    margin-top: 101px;
    margin-left: 623px;
    margin-right: 623px;
}

.active-navi-center {
    display: block;
    margin-top: -44px;
    margin-left: 662px;
    margin-right: 663px;
}

.active-navi-center:hover {
    height: 50px;
    margin-top: -48px;
    margin-left: 658px;
}

.active-navi-center:active {
    height: 52px;
    margin-top: -49px;
    margin-left: 657px;
}

.feautured {
    height: 609px;
}

.feautured ul {
    list-style-type: none;
    float: left;
    margin-top: 120px;
    margin-left: 107px;
}


.feautured ul li a {
    text-decoration: none;
    color:  #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    padding: 18px;
    border-bottom: 1px solid #6c6c6c;
}

.feautured li {
    float: left;
}

.feautured .featnav {
    color: #212121;
    border-bottom: 3px solid #212121;
    color: #212121;
}

.feautured .newnav:hover {
    color: #212121;
    border-bottom: 3px solid #212121;
    color: #212121;
}

.explore-bottom {
    display: block;
    text-decoration: none;
    color:  #212121;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    width: 158px;
    float: right;
    margin-right: 118px;
    margin-top: 138px;
}

.explore-bottom:hover {
    background: url(img/arrow.png);
    background-repeat: no-repeat;
    background-position: 145px;
    height: 22px;
}



.products {
	margin-top: 100px;
    float: left;
}

.prod {
	width: 270px;
	height: 270px;
	float: left;
    margin: 0 40px;
}

.imghard {
	position: absolute;
	width: 270px;
	height: 270px;
	outline: 1px solid #e8e8ed;
}

.btm-link {
	position: absolute;
}

.btm-link a {
	display: block;
	text-decoration: none;
	width: 270px;
	height: 270px;
	opacity: 0;
}

.btm-prod {
	width: 48px;
	height: 48px;
	margin-left: 105px;
	padding-top: 60px;
	margin-bottom: 20px;
}

.btm-link a:hover {
	outline: 2px solid gray;
	background: #ffffff;
	opacity: 0.9;
}

.btm-link h3 {
	color:  #212121;
	font-size: 21.91px;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
	transform: scaleX(1.0041);
	margin-bottom: 10px;
}

.btm-link p {
	color:  #6c6c6c;
	font-size: 13.94px;
	font-weight: 300;
	line-height: 22px;
	text-align: center;
	transform: scaleX(1.0041);
	padding: 0 25px;
}		



.prod:last-child {
	float: right;
}

.prod:nth-child(2) {
	margin-left: 23px;
}

.prod:nth-child(3) {
	margin-left: 23px;
}



.btm-feautured {
    display: block;
    position: relative;
    width: 48px;
    height: 48px;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    border-radius: 24px;
    background: url(img/arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff; 
    margin-left: 111px;
    margin-top: -70px;
    float: left;
}



.chairs {
    width: 1366px;
    height: 683px;
    float: left;
}

.chair1 {
    width: 683px;
    height: 683px;
    background: url(img/promo-img1.jpg);
    float: left;
}

.chair2 {
    width: 683px;
    height: 683px;
    background: url(img/promo-img2.jpg);
    margin-right: 0px;
    float: right;
}

.chairs div h3 {
    color:  #1e88e5;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    margin-top: 228px;
    margin-left: 51px;
}

.chairs div h1 {
    color:  #212121;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    margin-top: 18px;
    margin-left: 51px;
}

.chairs div p {
    color:  #6c6c6c;
    font-size: 13.99px;
    text-align: left;
    transform: scaleY(1.0022);
    margin-top: 24px;
    margin-left: 51px;
    margin-bottom: 34px;
}

.chairs .btm-order {
    margin-left: 51px;
}

.trending {
    clear: both;
    height: 1108px;
    width: 1366px;
}

.trending div h1 {
    color:  #212121;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    float: left;
    margin-top: 119px;
    margin-left: 98px;
    margin-right: 400px;
}

.trending br {
    clear: both;
}
.trending ol {
    list-style: none;
    margin: 84px 68px;
    margin-right: 98px;
}

.trending ol li a {
    margin: 15px;
    width: 370px;
    height: 370px;
    float: left;   
}



.hot {
    width: 1366px;
    height: 800px;
    background-image: url(img/slider2.jpg);
    overflow: hidden;
}

.hot .text-slider h3 {
    color: #e53935;
}

.excl-chair {
    height: 810px;
    width: 1366px;
    overflow: hidden;
}

.excl-pr-1 {
    width: 570px;
    height: 570px;
    background-image: url(img/product-1-lg.jpg);
    margin-left: 98px;
    margin-top: 120px;
    float: left;
}

.excl-chair ol {
    list-style: none;
    margin-top: 120px;
    margin-right: 98px;
}

.excl-chair ol li a {
    float: right;
    margin-left: 30px;
    margin-bottom: 30px
}

.excl-pr-1 h3 {
    color:  #1e88e5;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    margin-top: 186px;
    margin-left: 31px;
}

.excl-pr-1 h1 {
    color:  #212121;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    margin-top: 18px;
    margin-left: 32px;   
}

.excl-pr-1 p {
    color:  #6c6c6c;
    font-size: 13.99px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    width: 332px;
    margin-top: 24px;
    margin-left: 30px;
    margin-bottom: 34px;
}

.excl-pr-1 .btm-order {
    margin-left: 30px;
    width: 212px;
    background-position: 173px;
}

.app {
    width: 1366px;
    height: 516px;
    background-image: url(img/back-img.jpg);

    overflow: hidden;
}

.app h3 {
    color:  #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 22px;
    margin-top: 125px;
    margin-left: 99px;

}

.app h1 {
    color:  #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-align: left;
    margin-bottom: 26px;
    margin-left: 99px;
}

.app p {
    color:  #6c6c6c;
    font-size: 22px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    text-align: left;
    margin-left: 99px;
}

.app ol {
    margin-left: 99px;
    margin-top: 33px;
}

.app ol li {
    list-style: none;
    float: left;
    margin-right: 10px;
}

.clr {
    height: 384px;
}

footer {
    clear: both;
    background-color:  #f7f7f7;
    width: 1366px;
    min-height: 384px;
    margin: -384px auto 0 auto;
    
}

footer h3 {
    color:  #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}

footer p {
    color:  #212121;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
}

.useful-info ul {
    float: left;
    list-style: none;
    margin-top: 25px;
}

.useful-info ul li a {
    text-decoration: none;
    color:  #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
}

.useful-info ul li a:hover {
    color: green;
}
.useful-info ul:nth-child(2) {
    margin-right: 103px;
}


.copy {
    clear: both;
}
.useful-info,
.contact-us,
.suscribe {
    display: block;
    margin-top: 120px;
    margin-bottom: 70px;
}

footer div {
    float: left;
}
.contact-us {
    width: 221px;
    margin-left: 99px;
    margin-right: 80px;
}

.contact-us p {
    margin-top: 24px;
}

.useful-info {
    width: 422px;
}

.suscribe {
    width: 370px;
    margin-left: 78px;
}

.suscribe p {
    margin-top: 24px;
}

input.e-mail {
    border-width: 1px;
    border-color:  #d9dee1;
    border-style: solid;
    background-color:  #ffffff;
    width: 368px;
    height: 46px;
    margin-top: 26px;
    background: url(img/send.PNG);
    background-repeat: no-repeat;
    background-position: 350px;
}

input[type="text"] {
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    padding-left: 19px;
}

.copy p, a {
    display: inline-block;
    vertical-align: middle;
}

.copy {
    margin-left: 98px;
    margin-bottom: 39px;
    
}

.copy p:first-child {
    margin-right: 158px;
}

.copy a {
    margin-right: 172px;    
}

.copy p {
    color:  #6c6c6c;
font-size: 12px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
line-height: 26px;/* Приближение из-за подстановки шрифтов */
text-align: right;
}




